body {
  margin: 0;
  padding: 0;
  font-size: 21px;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/* ========
Typography 
======== */
h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

/* ========
Layout 
======== */

div.main {
  margin-left: 200px;
  color: rgb(31, 16, 41);
}
header {
  padding: 0px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header-title {
  align-self: center;
}

.hz-logo {
  width: 200px;
  height: 200px;
  align-self: baseline;

}



/* sidebar navigation*/
nav {
  background-color: #42493a;
  color: #fff;
  position: fixed;
  overflow: auto;
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.nav-title {
  text-align: center;
}

.nav-list .nav-item .nav-link {
  display: block;
  text-align: center;
  list-style-type: none;
}
.nav-list {
  padding: 0px;
}

.nav-item {
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
  padding: 16px;
}


.active {
  background-color: #686f60;
}

.nav-link:hover:not(.active) {  
  background-color: #686f60;
}

/** Aside Menu **/
.aside {
  margin-top: 110px;
  margin-left: 10px;
  align-self: flex-start;
  
}

.aside-list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
 
}


.aside-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;

}

/** Main Content **/ 
